# Python Build
__pycache__/
*.pyc
*egg-info/
uv.lock
pyproject.toml

# Environment
.env
.venv/

# Data files
*.csv
!data/.gitkeep # Data directory where generated CSVs are stored

# Markdown
*.md
!README.md

# Config
CLAUDE.md
