# Python Build
__pycache__/
*.pyc
*egg-info/

# Environment
.env
.venv/

# Data files
data/*
!data/.gitkeep # Data directory where generated CSVs are stored
!data/order_exemptions.json.example

# Markdown
*.md
!README.md
CLAUDE.md
!Plans/
Plans/*
!Plans/ARCHITECTURE.md
